h1{
    text-align: center

}
input[type=submit]:hover {
  background-color: #ff00ff;
  
}
input[type="submit"] {
    padding: .10em 1em;
    border-radius: 70px;
}
input[type="date"] {
    padding: 0.1em 1em;
}

input[type="number"] {
    padding: 0.3em 1em;
}
 
input[type="email"] {
    padding: 0.3em 1em;
}
input[type="text"] {
    padding: 0.3em 1em;
}
body{
    background-image: url('/assets/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;

}
#form{
    border: 2px solid black;
    border-radius: 70px;
     width:70%; 
     margin-left: 100px;
     background-color: #fff
     
}
fieldset {
    width: 30px;
    min-width: 380p;
    margin:0 auto;
}
input {
 padding: 1.2em 1em;
 border-radius: 70px;
}
